.App {
  /* justify-content: center;
  text-align: center;
  margin: 20px;
  margin-top: 5rem;
  max-width: 700px;
  width: 100%;
  background: linear-gradient(75deg, #b0eeae, #f1eef1);
  padding: 20px 50px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5); */
}

.appointment form .input-box2 {
  display: flex;
  justify-content: center;
  margin: 0 0 0 20rem;
}

.searchPatient input {
  margin-left: 25rem;
  margin-top: 1rem;
}

h1 {
  font-weight: bolder;
  text-align: center;
}

.container form h2,
.appointment h2,
.searchPatient h2,
.appointment h3 {
  font-weight: bolder;
  text-align: center;
}

form .input-box2 {
  margin-bottom: 15px;
  margin: 10px 0 9px 0;
  width: calc(100% / 2 - 20px);
}

form .input-box2 .details2 {
  font-weight: 600;
  margin-bottom: 1px;
  color: rgb(7, 216, 146);
}

form .input-box2 input {
  text-align: center;
  height: 45px;
  width: 90%;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(7, 216, 146);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.searchPatient input {
  text-align: center;
  height: 45px;
  width: 40%;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(7, 216, 146);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form .input-box2 input:focus,
form .input-box2 input:valid {
  border-color: aquamarine;
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container form .user-details .input-box {
  margin-bottom: 15px;
  margin: 10px 0 9px 0;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
  display: block;
  font-weight: 600;
  margin-bottom: 1px;
  color: rgb(7, 216, 146);
}

.user-details .input-box .detailsMH {
  display: block;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 1px;
  color: rgb(7, 216, 146);
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(7, 216, 146);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details textarea {
  height: 100px;
  width: 211%;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(7, 216, 146);
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: aquamarine;
}

.user-details .input-box textarea:focus,
.user-details .input-box textarea:valid {
  border-color: aquamarine;
}

form .button,
.searchPatient .button {
  height: 45px;
  margin: 15px 0;
}

button {
  height: 100%;
  width: 100%;
  outline-color: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: rgb(7, 216, 146);
  cursor: pointer;
}

button:hover {
  background: rgb(69, 194, 152);
}

.all-patients .head {
  font-weight: bolder;
  text-align: center;
}

.all-patients ul,
.appointment ul,
.searchPatient ul {
  list-style-type: none;
  text-align: center;
}

.all-patients ul li,
.appointment ul li,
.searchPatient ul li {
  font-size: 1.4rem;
}

.all-patients p {
  font-size: 1.4rem;
  text-align: center;
}

.medical-records {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.medical-records section {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.medical-records h2 {
  color: #333;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.medical-records p,
.medical-records ul li {
  margin-bottom: 5px;
  line-height: 1.6;
}

.medical-records strong {
  color: #555;
}

.tab-buttons {
  display: flex;
}

.tab-buttons button {
  justify-content: space-between;
  color: #ffffff;
  font-weight: bolder;
}

.tab-buttons button:hover {
  color: #000000;
}

@media (mix-width: 584px) {
  .container {
    max-width: 100%;
  }
}
